.social {
  display: flex;
}

.social__item {
  display: flex;
  border: 1px solid #f5f7f8;
  width: 35px;
  height: 35px;
  fill: gray;
  transition: background .3s linear;
  margin: 0 5px;
  padding: 8px 8px;
  border-radius: 2px;
  cursor: pointer;


}

.social__item:hover {
  background-color: #f5f7f8;
}

.social__item__footer {
  &:hover {
    fill: #c0301c;
    background-color: #FFFFFF;
  }
}

.social--2 {
  margin-bottom: 20px;
  padding: 0;
}